color1 = #05668dff
color2 = #028090ff
color3 = #00a896ff
color4 = #02c39aff
color5 = #f0f3bdff

*
    border 0
    margin 0
    padding 0

body
    font-family Verdana
    margin 0
    padding 0

h1
h2
h3 
h4 
h5 
h6 
    font-family Open Sans
ul 
    list-style-type none
a 
    color color2
    text-decoration none
    &:hover
        text-decoration underline
#slider
    background color3
    margin 0 auto
    max-width 1020px
    width 100%
#services
    margin 50px 0
#portfolio 
    margin-top 50px
    margin-bottom 50px
    .portfolioItem
        background color2
        position relative
        .txtPortfolio
            font-weight bold
            margin 10px
            opacity 0
            position absolute 
            text-align center
            top 50%
            width 100%
            z-index 10 
.opacity1 
    opacity 1 !important
.opacity2 
    opacity .3 !important
#footer 
    p  
        font-size 12px
    a 
        color white
        &:hover 
            color color3

.width1020
    margin 0 auto
    max-width 1200px
    padding 20px
    width 100%   
.padding-0
    padding-right 0
    padding-left 0

.backColor1
    background color1
.backColor2
    background color2
.backColor3
    background color3
.backColor4
    background color4
.backColor5
    background color5
.backColor1
    background color1
.txtColor2
    color color2
.txtColor3
    color color3
.txtColor4
    color color4
.txtColor5
    color color5