* {
  border: 0;
  margin: 0;
  padding: 0;
}
body {
  font-family: Verdana;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Open Sans;
}
ul {
  list-style-type: none;
}
a {
  color: #028090;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
#slider {
  background: #00a896;
  margin: 0 auto;
  max-width: 1020px;
  width: 100%;
}
#services {
  margin: 50px 0;
}
#portfolio {
  margin-top: 50px;
  margin-bottom: 50px;
}
#portfolio .portfolioItem {
  background: #028090;
  position: relative;
}
#portfolio .portfolioItem .txtPortfolio {
  font-weight: bold;
  margin: 10px;
  opacity: 0;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
  z-index: 10;
}
.opacity1 {
  opacity: 1 !important;
}
.opacity2 {
  opacity: 0.3 !important;
}
#footer p {
  font-size: 12px;
}
#footer a {
  color: #fff;
}
#footer a:hover {
  color: #00a896;
}
.width1020 {
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px;
  width: 100%;
}
.padding-0 {
  padding-right: 0;
  padding-left: 0;
}
.backColor1 {
  background: #05668d;
}
.backColor2 {
  background: #028090;
}
.backColor3 {
  background: #00a896;
}
.backColor4 {
  background: #02c39a;
}
.backColor5 {
  background: #f0f3bd;
}
.backColor1 {
  background: #05668d;
}
.txtColor2 {
  color: #028090;
}
.txtColor3 {
  color: #00a896;
}
.txtColor4 {
  color: #02c39a;
}
.txtColor5 {
  color: #f0f3bd;
}
